
.welcome_navigation {
    height: 60px;
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    border-bottom: 2px solid #cccccc;
    .navigation {
        width: 100%;
        ul {
            max-width: 1170px;
            margin-top: 14px;
            font-size: 20px;
        }
    }
    .welcome_profile {
        margin-top: 10px;
        width: 40px;
        height: 40px;
        border: 3px solid #ff8b38;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        line-height: 36px;
        cursor: pointer;
        color: white;
        background-color: #ff8b38;
    }
}

.container {
    min-height: calc(100vh - 60px);
    padding: 30px 0;
    width: 100%;
    display: flex;
    margin: 0 auto;
    .welcome_page {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 15px;
        .welcome_title {
            font-size: 40px;
            font-weight: 600;
            color: white;
        }
        .form_game {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .difficulty {
            width: 250px;
            display: flex;
            justify-content: space-between;
            margin: 20px auto;
            font-size: 20px;
        }
        .card_shirt {
            width: 300px;
            display: flex;
            justify-content: space-between;
            margin: 10px auto 20px;
            font-size: 20px;
        }
        .welcome_button {
            cursor: pointer;
            margin: 0 auto;
            width: 150px;
            height: 47px;
            text-align: center;
            background-color: #ff8b38;
            border: 0;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 600;
            border-radius: 5px;
            color: white;
        }
    }
}

input {
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    outline: 0;
}
input:-moz-placeholder {
    color: #999999;
    text-align: center;
}
input::-moz-placeholder {
    color: #999999;
    text-align: center;
}
input:-ms-input-placeholder {
    color: #999999;
    text-align: center;
}
input::-webkit-input-placeholder {
    color: #999999;
    text-align: center;
}

.select { 
    display: block; 
    font-weight: 700; 
    padding: 0 10px; 
    box-sizing: border-box; 
    border: 1px solid #aaa;
    border-radius: .5em;
    appearance: none;
} 
   